<% if @physician == current_physician %>
<h1>Welcome to your HomePage</h1>
<% else %>
<h1>Physician View </h1>
<% end %>

<%= render :partial => "view", :locals => {:physician => @physician} %>



<% if @physician == current_physician %>
<p><button_tag><%= link_to "Edit Your Personal Info", edit_physician_path, class:"edit-physician-info"%></p>
<p><button_tag><%= link_to "View All Your Appointments", physician_appointments_path(@physician), class:"load-appointments"%></p>
<div id="appointments">
  <ol>
  </ol>
</div>
<p><button_tag><%= link_to "Create New Appointment", new_physician_appointment_path(@physician), class:"create-new-appointment-form"%></p>
<div id='new-appointment-form'>
</div>
<% end %>

<% if @physician == current_physician && !@appointments.nil? %>
<h2>Your Upcoming Appointments</h2>
<% @appointments.each do |a| %>
<%= render :partial => "appointments/view", :locals => {:a => a} %>
<% end %>

<% elsif @physician == current_physician %>
<h2>You have no upcoming appointments</h2>
<% end %>



<p><%= link_to "View All Physician", physicians_path, class:"all-physicians" %><p>
