<%= f.label :name %>
<%= f.text_field :name %>
<br>
<% if patient.errors[:name].any? %>
<p><%= patient.errors.full_messages_for(:name)[0] %></p>
<br>
<% end %>

<%= f.label :email %>
<%= f.email_field :email %>
<br>
<% if patient.errors[:email].any? %>
<p><%= patient.errors.full_messages_for(:email)[0] %></p>
<br>
<% end %>

<%= f.label :age %>
<%= f.text_field :age %>
<br>
<% if patient.errors[:age].any? %>
<p><%= patient.errors.full_messages_for(:age)[0] %></p>
<br>
<% end %>

<%= f.label :date_of_birth %>
<%= f.date_field :date_of_birth %>
<br>
<% if patient.errors[:date_of_birth].any? %>
<p><%= patient.errors.full_messages_for(:date_of_birth)[0] %></p>
<br>
<% end %>
