<h1>Patient Sign Up Page</h1>

<%= form_for @patient do |f| %>

<%= render :partial => 'form', :locals => {:patient => @patient, :f => f} %>

<%= f.label :password %>
<%= f.password_field :password %>
<br>

<%= f.submit "Signup" %>
<% end %>

<h3>Click to go <%= link_to "Back", root_path, class:"btn btn-primary btn-light" %> to Welcome page</h3>
