<h1>Patient Profile Page</h1>


<table>
  <tr>
    <th>Name</th>
    <td><%= @patient.name %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @patient.age %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td><%= @patient.date_of_birth %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @patient.email %></td>
  </tr>
</table>


<% if @patient.appointments %>
<%= link_to "View appointments", patient_appointments_path(@patient) %>
<% end %>
<br>

<% if @patient == @current_patient %>
<%= link_to "Edit Your Info", edit_patient_path %>
<% end %>





<% if @patient == @current_patient && @patient.appointments.upcoming.any? %>

<h2>Appointments In The Next 2 Weeks</h2>

<% @patient.appointments.upcoming.each do |a| %>

<%= render :partial => "appointments/view", :locals => { :a => a} %>

<% end %>

<% elsif @patient == current_patient %>
<h2>You Have No Appointments Coming Up</h2>
<% end %>
