<p>
<%= f.label :date %><br>
<%= f.date_field :date, value: appointment.date  %>
</p>

<p>
  <%= f.label :time %><br>
  <%= f.time_field :time, value: "%r", value: appointment.time %>
</p>

<p>
  <%= f.label :physician_id, "Physician" %><br>
  <%= current_physician.name %>
  <%= f.hidden_field :physician_id, :value => current_physician.id %>
</p>


<p>
  <%= f.label :patient_id, "Patient" %><br>
  <%= f.collection_select :patient_id, Patient.all.order('name ASC'), :id, :name, include_blank: "Select a patient" %>
</p>
