<h1> Your Appointments</h1>
<% if current_physician %>
<%= link_to "Add a new appointment", new_appointment_path %>
<% end %>
<% @appointments.each do |appointment| %>
<table>
  <tr>
    <th>Date</th>
    <td><%= appointment.date %></td>
  </tr>

  <tr>
    <th>Time</th>
    <td><%= appointment.time %></td>
  </tr>

  <tr>
    <th>Physician Name</th>
    <td><%= link_to appointment.physician.name, physician_path(appointment.physician) %></td>
  </tr>

  <tr>
    <th>Patient Name</th>
    <td><%= link_to appointment.patient.name, patient_path(appointment.patient) %></td>
  </tr>
</table>
<% end %>
