<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentMD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <% flash.each do |name, message| %>
  <p><i><%= "#{name}: #{message}" %></i></p>
  <% end %>
  <% if logged_in? %>
  <h4>Click to Log Out From AppointmentMD</h4>
  <h3>
    <p>
      <%= link_to "Logout", logout_path, class:"btn btn-primary btn-light" %>
    </p>
    <br>
  </h3>
  <% end %>
</html>
